<template>
  <div class="home">
    <user-card :users="users"></user-card>
  </div>
</template>

<script>
// @ is an alias to /src
import UserCard from '@/components/UserCard'

export default {
  name: 'home',
  components: {
    UserCard
  },
  computed: {
    users () {
      return this.$store.state.user.users
    }
  },
  mounted () {
    this.$store.dispatch('getUserInfo')
  }
}
</script>
<style>

</style>
