<template>
  <div class="user-card">
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
        <th>phone</th>
        <th>website</th>
      </tr>
      <tr v-for="key of Object.keys(users)" :key="key">
        <td>{{users[key].id}}</td>
        <td>{{users[key].name}}</td>
        <td>{{users[key].username}}</td>
        <td>{{users[key].phone}}</td>
        <td>{{users[key].website}}</td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: 'UserCard',
  props: {
    users: { default: [] }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
table{
  width: 100%;
  th{
    border-bottom: 1px solid #a8a8a8;
    color: #a8a8a8;
  }
  td{
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
}
</style>
